:root {
    --background-color: rgba(255, 255, 255, 1);
    --third-quote-background: rgba(255, 255, 255, 0.7);
    --button-background2: rgba(0, 0, 0, 0);
    --item-mova-background: rgba(255, 255, 255, 0.7);
    --hover-button: rgb(0, 0, 139);
    --link-color: rgb(200, 200, 200);
    --main-color: rgba(255, 255, 255, 1);
    --additional-color: rgba(148, 207, 255, 1);
    --quote-text: rgba(10, 56, 83, 1);
    --first-mova-text: rgba(20, 20, 20, 1);
    --second-mova-text: rgba(0, 0, 0, 1);
    --button-text-color: rgba(38, 199, 234, 1);
    --button-boarder: rgba(38, 199, 234, 1);
    --button-background: rgba(11, 14, 102, 1);
}

body {
    font-family: "Headland One", serif;
}

header {
    background-image: url(../images/header-background.png);
    background-size: cover;
}

.nav-link {
    color: var(--main-color);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--additional-color)
}

.active {
    color: var(--additional-color);
}

.header-button {
    color: var(--button-text-color);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    border-radius: 45px 0px;
    border: 3px solid var(--button-boarder);
    background: var(--button-background);
    width: 141px;
    height: 41.694px;
}

.header-button:hover,
.header-button:focus {
    background-color: var(--hover-button);
}



.header-button2 {
    color: var(--main-color);
    font-family: "Hammersmith One", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    border: none;
    background-color: var(--button-background2);
    width: 107px;
    height: 20px;
}

.button-title,
.button-title2 {
    color: var(--main-color);
    text-align: center;
    font-family: "Hammersmith One";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

/* hero */

.avatar-hero {
    background-image: url(../images/background_hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.avatar-hero > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    color: var(--main-color);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    width: 298px;
}

.hero-title2 {
    color: var(--main-color);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    width: 376px;
}

.hero-button {
    color: var(--button-text-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    border-radius: 45px 0px;
    border: 3px solid var(--button-boarder);
    background: var(--button-background);
    padding: 10px 31px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hover-button);
}

/* quote */

.quote {
    background-color: var(--background-color);
    text-align: center;
}

.quote-title {
    color: var(--quote-text);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.22;
}

.quote-title2 {
    color: var(--quote-text);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.22;
}

.quote-desc {
    color: var(--second-mova-text);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.20;
}

/* trailer */

.trailer {
    background-image: url(../images/trailer_background.png);
    background-size: cover;
}

.trailer-button {
    color: var(--button-text-color);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    border-radius: 45px 0px;
    border: 3px solid var(--button-boarder);
    background: var(--button-background);
    width: 260px;
    height: 80px;
    flex-shrink: 0;
}

.trailer-button:hover,
.trailer-button:focus {
    background-color: var(--hover-button);
}

/* 2 quote */

.second-quote {
    background-color: var(--background-color);
    text-align: center;
}


.second-quote-title {
    color: var(--first-mova-text);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.22;
}

.second-quote-title2 {
    color: var(--first-mova-text);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.22;
}

.second-quote-desc {
    color: var(--second-mova-text);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.20;
}

/* mova */

.language {
    background-image: url(../images/mova_background.png);
    background-size: cover;
}

.language-title {
    color: var(--first-mova-text);
    text-align: center;
    font-family: "Headland One", serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25;
}

.language-item {
    background-color: var(--item-mova-background);
    /* width: 25%; 
height: 60%; */

}

.item-title {
    color: var(--first-mova-text);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.00;
}

.item-desc {
    color: var(--second-mova-text);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.00;
}

/* 3 quote */

.third-quote {
    background-color: var(--third-quote-background);
    text-align: center;
}

.third-quote-title {
    color: var(--first-mova-text);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.22;
}

.third-quote-title2 {
    color: var(--first-mova-text);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.22;
}

.third-quote-desc {
    color: var(--second-mova-text);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.20;
}

/* footer */

.footer {
    background-image: url(../images/footer_background.png);
    background-size: cover;
}

.footer-title {
    color: var(--main-color);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.footer-title2 {
    color: var(--main-color);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.title-link {
    color: var(--main-color);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.title-link:hover,
.title-link:focus {
    color: var(--link-color);
}

.footer-desc {
    color: var(--main-color);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
}
.container {
    width: 1056px;
    margin: 0 auto;
    padding: 0 12px;
    outline: 1px solid red;
}

/* header */

.header {
    padding-top: 39px;
    padding-bottom: 39px;
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link {
    margin-right: 168px;
}

.nav-list {
    display: flex;
    gap: 38px;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.header-button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.button-title {
    padding-right: 10px;
}

.button-title2 {
    padding-left: 10px;
}

/* hero */

.avatar-hero {
    padding-top: 180px;
    padding-bottom: 179px;
}

.hero-item {
    padding-bottom: 10px;
}

.hero-title {
    width: 298px;
}

.hero-image {
    width: 152px;
    height: 40px;
    padding-left: 53px;
}

.hero-title2 {
    width: 376px;
}

.hero-item2 {
    margin-bottom: 42px;
}

.hero-button {
    display: flex;
    width: 260px;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.hero-list2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

/* quote */

.quote {
    padding-top: 75px;
    padding-bottom: 10px;
}

.quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-title {
    margin-bottom: 4px;
    padding: 0 auto;
}

.quote-title2 {
    width: 1002px;
    padding: 0 auto;
    margin-bottom: 16px;
}

.quote-desc {
    margin-bottom: 8px;
    padding: 0 auto;
}

.quote-image {
    padding: 0 auto;
}

/* trailer */

.trailer {
    padding-top: 320px;
    padding-bottom: 330px;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trailer-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 2 quote */

.second-quote {
    padding-top: 75px;
    padding-bottom: 10px;
}

.second-quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second-quote-title {
    width: 886px;
    margin-bottom: 4px;
    padding: 0 auto;
}

.second-quote-title2 {
    width: 528px;
    padding: 0 auto;
    margin-bottom: 16px;
}

.second-quote-desc {
    margin-bottom: 8px;
    padding: 0 auto;
}

.second-quote-image {
    padding: 0 auto;
}

/* language, вернутся сюда */

.language {
    padding-top: 58px;
    padding-bottom: 57px;
}

.language-title {
    margin-bottom: 45px;
}

.language-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
}


.language-item {
    width: 320px;
    height: 240px;
    padding: 36px 0;
}

.item-title {
    margin-bottom: 40px;
}

.item-image {
    margin-bottom: 40px;
    padding: 0 84px;
}

/* 3 quote */

.third-quote {
    padding-top: 75px;
    padding-bottom: 10px;
}

.third-quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.third-quote-title {
    width: 938px;
    padding: 0 auto;
    margin-bottom: 4px;
}

.third-quote-title2 {
    width: 812px;
    padding: 0 auto;
    margin-bottom: 16px;
}

.third-quote-desc {
    margin-bottom: 8px;
    padding: 0 auto;
}

.third-quote-image {
    padding: 0 auto;
}

/* footer */

.footer {
    padding-top: 77px;
    padding-bottom: 25px;
}

.footer-box {
    display: flex;
}

.footer-link {
    margin-right: 160px;
}

.footer-desc-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-title {
    margin-right: 20px;
    margin-bottom: 16px;
}

.footer-title2 {
    width: 182px;
    margin-right: 20px;
}

.title-image {
    margin-right: 20px;
    width: 269px;
    height: 2px;
}

.footer-desc {
    margin-top: 37px;
    padding: 0 auto;
}

.hero-list2{
    padding-bottom: 299px;
    padding-top: 300px;
    gap: 27px;
}

.container{
    outline: none;
}